@import "tailwindcss";

@layer base {
  :root {



    /* Fonts */
    --font-body: var(--font-raleway);
    --font-heading: var(--font-nata-sans);
  }

  @theme inline {
    --font-sans: var(--font-body);
    --font-heading: var(--font-heading);
  }


  body {
    font-family: var(--font-raleway), sans-serif;
    @apply overflow-x-hidden;
  }

  html {
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-nata-sans), sans-serif;
    @apply font-bold;
  }

  p {
    @apply leading-relaxed;
  }

}


@layer components{
  /* any custom class will go here */
}